.background-radio {
  @apply border-2 md:border-4 appearance-none rounded-full w-6 h-6 md:w-8 md:h-8;

  &:hover {
    @apply cursor-pointer;
  }
}

.theme-dark {
  .text-theme {
    @apply text-white;
  }

  .border-theme {
    @apply border-white;
  }
}

.theme-light {
  .text-theme {
    @apply text-black;
  }

  .border-theme {
    @apply border-black;
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:theme-dark {
    .text-theme {
      @apply text-white;
    }

    .border-theme {
      @apply border-white;
    }
  }
}

.swal2-content,
.swal2-header {
  @apply font-body;
  color: #000 !important;

  strong {
    @apply uppercase text-black;
  }
}

.swal2-title {
  color: #000 !important;
  text-transform: uppercase !important;
}

.swal2-close {
  color: #ff6b64 !important;

  &:focus {
    box-shadow: none !important;
  }

  &:hover {
    color: #ffb04d !important;
  }
}

a {
  @apply text-red font-bold transition-colors duration-100 ease-in-out;

  &:hover {
    @apply text-orange;
  }
}
